In [8]:
import pandas as pd

In [9]:
detection_counts = pd.read_csv("data/most_detected_tags.csv")
dwell_loc = pd.read_csv("data/loc_code_detection_patterns.csv")
dwell_antenna = pd.read_csv("data/antenna_detection_patterns.csv")
location = pd.read_csv("data/location_lat_long.csv")

In [10]:
detection_counts

          tag_id   count in_cleaning_table
0     989.001042  273253                no
1     989.001039  111089                no
2     989.001042   89789                no
3     989.001040   82246                no
4     989.001039   78683                no
...          ...     ...               ...
6781  989.001045       1                no
6782  989.001041       1                no
6783  989.001042       1                no
6784  989.001041       1                no
6785  989.001045       1                no

[6786 rows x 3 columns]

In [11]:
dwell_loc

,tag_id,loc_code,start_date,end_date,dwell_time,number_of_detections
0,989.001007,7A,2020-09-26,2020-09-26,0 days 00:02:05.290000,3
1,989.001033,21,2020-09-27,2020-09-27,0 days 00:00:00,1
2,989.001007,22,2020-10-03,2020-10-03,0 days 00:00:00,2
3,989.001007,232,2020-10-23,2020-10-23,0 days 00:03:49.320000,2
4,989.001007,231,2020-10-23,2020-10-23,0 days 00:06:36.940000,2
...,...,...,...,...,...,...
36754,989.001043,44,2025-01-06,2025-01-06,0 days 04:53:32.120000,3
36755,989.001043,45,2025-01-06,2025-01-07,0 days 14:40:47.490000,3
36756,989.001043,44,2025-01-07,2025-01-07,0 days 09:10:03.680000,2
36757,989.001043,45,2025-01-07,2025-01-08,0 days 14:35:53.630000,3
36758,989.001043,44,2025-01-08,2025-01-09,0 days 23:59:15.950000,8

# Summaries

## For an individual tag

In [12]:
tag = 989.001006608003

print("Tag ID is:", tag)
print("Total number of detections:", detection_counts[detection_counts["tag_id"] == tag]["count"].iloc[0])
print("Found in cleaning table? ", detection_counts[detection_counts["tag_id"] == tag]["in_cleaning_table"].iloc[0])
print("First detected:", min(dwell_loc[dwell_loc.tag_id == tag]["start_date"]))
print("Last detected:", max(dwell_loc[dwell_loc.tag_id == tag]["end_date"]))

print("Details of each detection:")
tag_dwell = dwell_loc[dwell_loc.tag_id == tag]
tag_dwell

Tag ID is: 989.001006608003
Total number of detections: 48
Found in cleaning table?  no
First detected: 2022-09-28
Last detected: 2022-10-25
Details of each detection:

,tag_id,loc_code,start_date,end_date,dwell_time,number_of_detections
3768,989.001007,22,2022-09-28,2022-10-10,12 days 01:47:27.590000,40
5162,989.001007,202,2022-10-25,2022-10-25,0 days 00:00:00,4
5163,989.001007,201,2022-10-25,2022-10-25,0 days 00:00:00,4

1. Now connect lat and long to each loc code and plot movement.
2. use upstream/downstream data also

In [13]:
location = pd.read_csv("data/location_lat_long.csv")

In [14]:
tag_loc = tag_dwell.join(location[['latitude','longitude','subloc','loc_code']].set_index('loc_code'), on = 'loc_code').drop_duplicates()
tag_loc

,tag_id,loc_code,start_date,end_date,dwell_time,number_of_detections,latitude,longitude,subloc
3768,989.001007,22,2022-09-28,2022-10-10,12 days 01:47:27.590000,40,48.771360,-123.653783,ds
5162,989.001007,202,2022-10-25,2022-10-25,0 days 00:00:00,4,48.771973,-123.712394,ds
5163,989.001007,201,2022-10-25,2022-10-25,0 days 00:00:00,4,48.772758,-123.713041,us

Create patterns using subloc and dwell time and detections - unsupervised learning